<!--
 * @Description: 测试 vuex中的 modules
 * @Version: 1.0
 * @Author: suchanglin
 * @Date: 2021-07-11 14:09:35
 * @LastEditors: suchanglin
 * @LastEditTime: 2021-07-11 17:02:37
 * @FilePath: \vuex\index.html
 * Copyright (C) 2021 suchanglin. All rights reserved.
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>modules</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.10/vue.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vuex/2.5.0/vuex.js"></script>
  </head>

  <body>
    <div id="app">
      <counter></counter>
      <p>
        <button @click="increment">+commit</button><br />
        <button @click="incre">+dispatch</button><br />
        <button @click="mo">+modules</button><br />
        <button @click="all">+withRootState</button>
        <!-- <button @click="decrement">-</button> -->
      </p>
    </div>

    <script>
      const Counter = {
        template: `<div>{{ count }}:{{ double }}:{{ modulesthird }}:{{ twostate }}</div>`,
        computed: {
          count() {
            return store.state.count
          },
          double() {
            return store.getters.double
          },
          modulesthird() {
            return store.state.test.third
          },
          twostate() {
            return store.state.test.twostate
          }
        }
      }
      const store = new Vuex.Store({
        state: {
          count: 0
        },
        getters: {
          double(state) {
            return state.count * 2
          }
        },
        mutations: {
          increment(state, payload) {
            state.count += payload.n
          },
          decrement: (state) => state.count--
        },
        actions: {
          increment({ commit }, obj) {
            commit(obj)
          }
        },
        modules: {
          test: {
            namespaced: true,
            state() {
              return {
                third: 12,
                twostate: 0
              }
            },
            mutations: {
              change(state) {
                state.third += 1
              },
              withrootstate(state) {
                state.twostate = state.third++ + store.state.count++
              }
            },
            actions: {}
          }
        }
      })

      const app = new Vue({
        el: '#app',
        // 把 store 对象提供给 “store” 选项，这可以把 store 的实例注入所有的子组件
        store,
        components: { Counter },
        methods: {
          // increment() {
          //     store.commit('increment', 5)
          // },
          increment() {
            store.commit({
              type: 'increment',
              n: 5
            })
          },
          incre() {
            store.dispatch({
              type: 'increment',
              n: 100
            })
          },
          mo() {
            // store.commit('change')
            store.commit('test/change') //添加了namespeaced:true 需要这样提交
          },
          all() {
            store.commit('test/withrootstate')
          }
        }
      })
    </script>
  </body>
</html>
